
            .Search {
                height: 85%;
                text-align: center;
            }

            .InputBar {
                width: 30%;
                margin: auto;
                display: flex;
                padding: .5rem 1rem;

                box-sizing: border-box;

                border: 1px solid #dfe1e5;

                border-radius: 5rem;
            }
            .InputBar:hover {
                box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
            }

            .InputBar input {
                width: 100%;
                box-sizing: border-box;

                font-size: 1rem;

                border: none;
            }
            .InputBar input:focus {
                outline: none;
            }
            .SearchIcon {
                margin-top: 3px;
                color: #9aa0a6;
                height: 20px;
                width: 20px;
                display: inline-block;
                fill: currentColor;
            }

            .Logo {
                width: 17rem;
                margin-top: 12.5%;
                margin-bottom: 2%;
            }

            /* .Footer {
                height: 10%;
            } */

            .buttons {
                padding: .5rem;
                margin: 1%;

                background-color: #f8f9fa;
                border: 1px solid #f8f9fa;
                border-radius: .25rem;
            }
            .buttons:hover {
                border: 1px solid #dadce0;
            }